{% extends 'base.html.twig' %}

{% block title %}TestCncb index{% endblock %}

{% block body %}
    <h1>TestCncb index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Transporteur</th>
                <th>Agent</th>
                <th>Date_val</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for test_cncb in test_cncbs %}
            <tr>
                <td>{{ test_cncb.id }}</td>
                <td>{{ test_cncb.date ? test_cncb.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ test_cncb.transporteur }}</td>
                <td>{{ test_cncb.agent }}</td>
                <td>{{ test_cncb.dateVal ? test_cncb.dateVal|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('test_cncb_show', {'id': test_cncb.id}) }}">show</a>
                    <a href="{{ path('test_cncb_edit', {'id': test_cncb.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('test_cncb_new') }}">Create new</a>
{% endblock %}
